button{
    margin: 0 auto;
}
.modal{
    display: none;
    margin: 0 auto;
    border: 3px solid grey;
    max-width: 400px;
    max-height: 300px;
    &__title{
        background-color: rgb(51, 7, 155);
        color: rgb(169, 44, 190);
        font-size: 30px;
        text-align: center;
        padding: 20px 0;
    }
    &__body{
        display: flex;
        justify-content: center;
        background-color: cornflowerblue;
    }
    &__image{
        max-width: 280px;
        max-height: 150px;
        padding: 20px;
    }
    &__image img{
        width: 100%;
        height: 100%;
    }
}